// ----------------------------------------------------------------------------------------------------
// Global
// ----------------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Secular+One&display=swap');

$font-main: Arial, Helvetica, sans-serif;
$font-header: 'Secular One', sans-serif;
$font-wrapper: 'Bebas Neue', cursive;

$border-width-main: 4px;

$color-light-primary: hsl(0, 0%, 93%);
$color-light-secondary: hsl(0, 100%, 45%);
$color-light-tertiary: hsl(0, 100%, 71%);
$color-dark-primary: hsl(0, 0%, 15%);
$color-dark-secondary: hsl(0, 0%, 13%);
$color-dark-tertiary: hsl(0, 0%, 33%);

%container-light {
  color: $color-dark-secondary;
  background: $color-light-primary;
}
%container-dark {
  color: $color-light-primary;
  background: $color-dark-secondary;
}

body {
  margin: 0;
  padding: 0;
  color: $color-light-primary;
  font-family: $font-main;
  background: $color-dark-primary;
}

a {
  color: $color-light-secondary;
  text-decoration: none;
}

h1 {
  font-size: 150%;
}

// ----------------------------------------------------------------------------------------------------
// Slogan
// ----------------------------------------------------------------------------------------------------
#slogan {
  font-family: $font-wrapper;
  font-size: 170%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: $border-width-main solid $color-light-secondary;
  border-bottom: $border-width-main solid $color-light-secondary;
  background: $color-light-secondary;

  p {
    margin-top: 0px;
    margin-bottom: 0px;
    color: $color-dark-secondary;
  }
}

// --------------------------------------------------

@media(max-width: 768px) {
  #slogan {
    font-size: 100%;
  }
}

// ----------------------------------------------------------------------------------------------------
// Stripe
// ----------------------------------------------------------------------------------------------------
$stripe-size: 100px;
$stripe-duration: 2s;

.stripe {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgba(rgb(255, 255, 255), 0);
    background: repeating-linear-gradient(45deg,
        $color-light-secondary 25%,
        $color-light-secondary 50%,
        $color-dark-secondary 50%,
        $color-dark-secondary 75%);
    background-size: #{$stripe-size} #{$stripe-size};
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-animation: stripeBackgroundPosition #{$stripe-duration} linear infinite;
            animation: stripeBackgroundPosition #{$stripe-duration} linear infinite;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + #{$stripe-size});
    height: 100%;
    background: repeating-linear-gradient(45deg,
        $color-dark-secondary 25%,
        $color-dark-secondary 50%,
        $color-light-secondary 50%,
        $color-light-secondary 75%);
    background-size: #{$stripe-size} #{$stripe-size};
    -webkit-animation: stripeTransform #{$stripe-duration} linear infinite;
            animation: stripeTransform #{$stripe-duration} linear infinite;
  }
}

@-webkit-keyframes stripeTransform {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(#{$stripe-size} * -1));
  }
}
@keyframes stripeTransform {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(#{$stripe-size} * -1));
  }
}

@-webkit-keyframes stripeBackgroundPosition {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: calc(#{$stripe-size} * -1) 0;
  }
}
@keyframes stripeBackgroundPosition {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: calc(#{$stripe-size} * -1) 0;
  }
}

// ----------------------------------------------------------------------------------------------------
// Header
// ----------------------------------------------------------------------------------------------------
#header {
  font-size: 170%;
  text-align: center;

  h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2em;
    font-family: $font-header;
  }
}

// --------------------------------------------------

@media(max-width: 768px) {
  #header {
    font-size: 150%;
  }
}

// ----------------------------------------------------------------------------------------------------
// Wrapper
// ----------------------------------------------------------------------------------------------------
@mixin wrapper-background-gradient-light($img: url) {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9)), $img no-repeat 8vw bottom;
}
@mixin wrapper-background-gradient-dark($img: url) {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), $img no-repeat 8vw bottom;
}

#wrapper {
  position: relative;
  width: 100%;
  min-height: 20vw;
  overflow: hidden;
  font-size: 170%;
  font-family: $font-wrapper;
  border-top: $border-width-main solid $color-light-secondary;
  border-bottom: $border-width-main solid $color-light-secondary;

  h1 {
    margin-top: 0px;
    margin-bottom: 155px;
  }

  p {
    margin-top: 155px;
    margin-bottom: -15px;
  }
}

.layer {
  position: absolute;
  width: 100vw;
  min-height: 20vw;
  overflow: hidden;

  .content-wrap {
    position: absolute;
    width: 100vw;
    min-height: 20vw;
  }

  .content-body {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
  }

  h1 {
    font-size: 2em;
  }
}

.right {
  @extend %container-dark;
  z-index: 1;

  .content-body {
    right: -26%;
    @include wrapper-background-gradient-dark($img: url(../images/bg-right.jpg));
  }
}

.left {
  @extend %container-light;
  width: 50vw;
  z-index: 2;

  .content-body {
    left: -26%;
    @include wrapper-background-gradient-light($img: url(../images/bg-left.jpg));
  }
}

.split {
  position: absolute;
  height: 100%;
  display: block;
  background-color: $color-light-secondary;
  width: calc(#{$border-width-main} * 2);
  top: 0;
  left: 50%;
  z-index: 3;
}

.skewed {
  .split {
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    height: 200%;
    transform-origin: top;
  }

  .left {
    transform: skew(-45deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);

    .content-wrap {
      transform: skew(45deg);
      margin-left: 1000px;
    }
  }
}

// --------------------------------------------------

@media(max-width: 470px) {
  #wrapper {
    font-size: 78%;

    p {
      margin-bottom: 0px;
    }
  }

  .right .content-body, .left .content-body {
    background: none;
  }
}

@media(max-width: 768px) and (min-width: 471px) {
  #wrapper {
    font-size: 100%;

    p {
      margin-bottom: 0px;
    }
  }

  .right .content-body, .left .content-body {
    background: none;
  }
}

@media(min-width: 2200px) {
  .split {
    width: calc(#{$border-width-main} + 10px);
  }
}

@media(min-width: 2745px) {
  #wrapper p {
    margin-bottom: 5px;
  }

  .right .content-body, .left .content-body {
    background: none;
  }
}

// ----------------------------------------------------------------------------------------------------
// Banner
// ----------------------------------------------------------------------------------------------------
$banner-boxed: false;

%banner-border {
  text-align: center;
  @if $banner-boxed {
    width: 50vw;
    border: $border-width-main solid $color-light-secondary;
    border-style: none solid solid solid;
  } @else {
    width: 100%;
    border:0px;
    border-style: none;
  }
}

#banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 0px;
  place-items: center;
  @if $banner-boxed {
    margin-bottom: 30px;
  }

  #call-to-action {
    @extend %banner-border;
    background-image: linear-gradient($color-light-secondary -50%, $color-dark-primary);
  }

  #event-info {
    @extend %banner-border;
    display: none;
    margin-top: -40px;
  }
}

// --------------------------------------------------

@media(max-width: 768px) {
  #banner {
    #call-to-action {
      border-left: 0px solid;
      border-right: 0px solid;
      width: 100%;
    }

    #event-info {
      border-left: 0px solid;
      border-right: 0px solid;
      width: 100%;
      @if $banner-boxed {
        margin-top: -30px;
      }
    }
  }
}

// ----------------------------------------------------------------------------------------------------
// Games
// ----------------------------------------------------------------------------------------------------
$games-box-number: 6;

.games {
  @extend %container-light;
  margin-bottom: 30px;

  .grid {
    padding-left: calc(#{$border-width-main} * 3);
    padding-right: calc(#{$border-width-main} * 3);
    padding-top: calc(#{$border-width-main} * 9);
    padding-bottom: calc(#{$border-width-main} * 9);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: $border-width-main;

    .box {
      @extend %container-dark;
    }

    .info {
      @extend %container-light;
      text-transform: none;
      padding-left: calc(#{$border-width-main} * 6);
      padding-right: calc(#{$border-width-main} * 6);

      h1 {
        text-transform: none;
        text-align: right;
      }
    }

    h1 {
      text-transform: uppercase;
      text-align: center;
    }

    p {
      text-align: right;
    }

    ul {
      text-align: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    ul > li {
      padding: $border-width-main;
    }

    ul > li:nth-child(odd) {
      background-color: $color-dark-tertiary;
    }
  }
}

// --------------------------------------------------

@media(max-width: 1243px) and (min-width: 1040px) {
  .games {
    .grid {
      .info {
        grid-column-end: span calc(#{$games-box-number} - 1);

        h1 {
          text-align: center;
        }

        p {
          text-align: center;
        }
      }
    }
  }
}

@media(max-width: 1039px) and (min-width: 836px) {
  .games {
    .grid {
      grid-template-columns: repeat(calc(#{$games-box-number} * 2), 1fr);

      .info {
        grid-column-end: span calc(#{$games-box-number} * 2);

        h1 {
          text-align: center;
        }

        p {
          text-align: center;
        }
      }

      .box:nth-child(n+2) {
        grid-column: span calc(#{$games-box-number} * 2 / 3);
      }

      .box:nth-last-child(-n+2) {
        grid-column: span $games-box-number;
      }
    }
  }
}

// ----------------------------------------------------------------------------------------------------
// Roster
// ----------------------------------------------------------------------------------------------------
$roster-width:          75%;
$roster-people-width:   70%;
$roster-padding-top:    false;
$roster-text-pogchamp:  "Weping";
$roster-text-gachigasm: "Huatai";
$roster-text-monkas:    "Stevatero";
$roster-bg-pogchamp:    "../images/iff-weping.jpg";
$roster-bg-gachigasm:   "../images/iff-huatai.jpg";
$roster-bg-monkas:      "../images/iff-stevatero.jpg";

.roster {
  height: 300px;
  width: $roster-width;
  overflow: hidden;
  margin: auto;
  margin-bottom: 30px;
  @if $roster-padding-top {
    padding-top: calc(#{$border-width-main} * 9);
  }

  .people {
    height: 100%;
    width: $roster-people-width;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .box {
      display: flex;
      flex-grow: 1;
      transition: all .5s ease;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden;

      &:hover {
        flex-grow: 2;
      }
      &:after {
        content: "";
        height: 50%;
        width: 200%;
        background-color: $color-dark-secondary;
        left: -50%;
        bottom: -20%;
        position: absolute;
        transform: rotate(-10deg);
        text-align: center;
        padding-top: 20px;
        font-size: 150%;
      }
      &.pogchamp {
        background-image: url($roster-bg-pogchamp);
        background-position: 100% center;
        &:after {
          content: $roster-text-pogchamp;
        }
      }
      &.gachigasm {
        background-image: url($roster-bg-gachigasm);
        background-position: 25% center;
        &:after {
          content: $roster-text-gachigasm;
        }
      }
      &.monkas {
        background-image: url($roster-bg-monkas);
        background-position: 70% center;
        &:after {
          content: $roster-text-monkas;
        }
      }
    }
  }

  .info {
    height: calc(100% - #{$border-width-main});
    width: calc(100% - #{$roster-people-width} - #{$border-width-main});
    float: left;
    text-align: center;
    border-right: $border-width-main solid $color-dark-secondary;
    border-bottom: $border-width-main solid $color-dark-secondary;

    .hitbox {
      text-transform: uppercase;
      font-size: 150%;
      font-weight: bold;
      margin-top: 12px;
      margin-bottom: 4px;
    }

    .extra {
      margin-top: 0px;
      margin-bottom: 12px;
    }

    h1 {
      margin-bottom: 0px;
    }

    img {
      margin-top: -12px;
    }
  }
}

// --------------------------------------------------

@media(max-width: 1243px) {
  .roster {
    height: 600px;
    overflow: auto;

    .people {
      height: 50%;
      width: 100%;
    }

    .info {
      height: calc(50% - #{$border-width-main});
      width: calc(100% - 2 * #{$border-width-main});
      border-left: $border-width-main solid $color-dark-secondary;
    }
  }
}

@media(max-width: 1039px) {
  .roster {
    .people {
      .box {
        &.pogchamp {
          background-position: 80% center;
        }
        &.gachigasm {
          background-position: 25% center;
        }
        &.monkas {
          background-position: 58% center;
        }
      }
    }
  }
}

@media(max-width: 835px) {
  .roster {
    width: auto;
    padding-left: calc(#{$border-width-main} * 3);
    padding-right: calc(#{$border-width-main} * 3);

    .people {
      .box{
        &:after {
          font-size: 120%;
        }
      }
    }
  }
}

// ----------------------------------------------------------------------------------------------------
// Social
// ----------------------------------------------------------------------------------------------------
.social {
  @extend %container-light;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;

  .box {
    padding-top: calc(#{$border-width-main} * 9);
    width: calc(50vw + #{$border-width-main} * 2);
    margin: auto;
    margin-bottom: calc(#{$border-width-main} * 4);

    #discord {
      @extend %container-dark;
      font-size: 150%;
      overflow-wrap: break-word;
      border: $border-width-main solid $color-light-secondary;
      padding: calc(#{$border-width-main} * 3);

      &:hover {
        color: $color-light-secondary;
      }
    }

    i {
      margin-right: $border-width-main;
    }
  }

  .grid {
    padding-bottom: calc(#{$border-width-main} * 9);
    width: calc(50vw + #{$border-width-main} * 2);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: $border-width-main;

    .item {
      i {
        font-size: 200%;
      }
  
      p {
        font-size: 100%;
        margin-top: $border-width-main;
        margin-bottom: 0px;
      }
    }

    a {
      color: $color-dark-secondary;

      &:hover {
        color: $color-light-secondary;
      }
    }
  }
}

// --------------------------------------------------

@media(max-width: 1243px) {
  .social {
    .box {
      margin-bottom: calc(#{$border-width-main} * 6);
    }

    .grid {
      width: calc(90vw + #{$border-width-main} * 2);
    }
  }
}

@media(max-width: 564px) {
  .social {
    .grid {
      grid-template-columns: repeat(12, 1fr);
      grid-gap: calc(#{$border-width-main} * 4);

      a:nth-child(-1n + 3) {
        grid-column: span 4;
      }
      a:nth-last-child(2) {
        grid-row-start: 2;
        grid-column: 3 / span 4;
      }
      a:nth-last-child(1) {
        grid-row-start: 2;
        grid-column: 7 / span 4;
      }
    }
  }
}

// ----------------------------------------------------------------------------------------------------
// History
// ----------------------------------------------------------------------------------------------------
$history-width: 75%;
$history-marker-width: 30px;

.history {
  margin-bottom: 30px;

  .info {
    text-align: center;
    padding-top: calc(#{$border-width-main} * 9);
    padding-bottom: calc(#{$border-width-main} * 9 + 30px);
    border-bottom: $border-width-main solid $color-light-secondary;

    h1 {
      margin-top: 0px;
      margin-bottom: calc(#{$border-width-main} * 3);
    }

    p {
      margin-top: $border-width-main;
      margin-bottom: 0px;
    }
  }

  .content {
    width: $history-width;
    margin: auto;
    padding-top: calc(#{$border-width-main} * 9 + 30px);

    .timeline {
      list-style-type: none;
      margin: 0;
      padding: 0;

      .item {
        padding-top: calc(#{$border-width-main} * 3);
        display: grid;
        grid-template-areas: 'date marker text';
        grid-template-columns: calc(50% - #{$history-marker-width} / 2) auto calc(50% - #{$history-marker-width} / 2);
        grid-gap: 0px;

        .date {
          grid-area: date;
          padding-top: $border-width-main;
          padding-right: calc(#{$border-width-main} * 3);
          text-align: right;
          text-transform: uppercase;
        }

        .marker {
          grid-area: marker;

          &:before {
            content: "";
            width: 15px;
            height: 15px;
            background: $color-light-tertiary;
            display: block;
            border: $border-width-main solid transparent;
            border-radius: 100%;
            transition: background 0.3s ease-in-out,
            border 0.3s ease-in-out;

            margin-top: 2px;
            margin-left: 4px;
          }

          &:after {
            content: "";
            width: $border-width-main;
            height: calc(100% - 32px);
            background: $color-light-primary;
            display: block;

            margin-top: 6px;
            margin-left: 13px;
          }
        }

        .text {
          grid-area: text;
          padding-left: calc(#{$border-width-main} * 3);
          text-align: left;
        }

        h1 {
          margin-top: 0px;
        }
      }

      .item-reversed {
        @extend .item;

        .date {
          grid-area: text;
          padding-top: $border-width-main;
          padding-right: 0px;
          padding-left: calc(#{$border-width-main} * 3);
          text-align: left;
        }

        .text {
          grid-area: date;
          padding-left: 0px;
          padding-right: calc(#{$border-width-main} * 3);
          text-align: right;
        }
      }

      .item:first-child {
        padding-top: 0px;
      }

      .item:hover .marker:before {
        background: transparent;
        border: $border-width-main solid $color-light-tertiary;
      }
    }
  }
}

// --------------------------------------------------

@media(max-width: 835px) {
  .history {
    .content {
      width: auto;
      padding-left: calc(#{$border-width-main} * 8);
      padding-right: calc(#{$border-width-main} * 8);

      .timeline {
        .item {
          grid-template-areas:
            'marker date'
            'marker text';
          grid-template-columns: auto calc(100% - #{$history-marker-width} / 2);

          .date {
            padding-top: calc(#{$border-width-main} + 2);
            padding-right: calc(#{$border-width-main} * 3);
            padding-left: calc(#{$border-width-main} * 3);
            padding-bottom: calc(#{$border-width-main} * 2);
            text-align: left;
          }

          .text {
            padding-right: calc(#{$border-width-main} * 3);
          }
        }

        .item-reversed {
          .date {
            grid-area: date;
            padding-right: calc(#{$border-width-main} * 3);
            padding-left: calc(#{$border-width-main} * 3);
            text-align: left;
          }

          .text {
            grid-area: text;
            padding-right: calc(#{$border-width-main} * 3);
            padding-left: calc(#{$border-width-main} * 3);
            text-align: left;
          }
        }
      }
    }
  }
}

// ----------------------------------------------------------------------------------------------------
// Events
// ----------------------------------------------------------------------------------------------------
$events-height: 100px;
$events-width: 75%;

.events {
  margin-bottom: 30px;

  .info {
    text-align: center;
    width: $events-width;
    margin-left: auto;
    margin-right: auto;
    padding-top: calc(#{$border-width-main} * 9);
    padding-bottom: calc(#{$border-width-main} * 9);

    h1 {
      margin-top: 0px;
      margin-bottom: calc(#{$border-width-main} * 3);
    }

    p {
      margin-top: $border-width-main;
      margin-bottom: 0px;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box-action {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    height: $events-height;
    width: calc(25vw + #{$border-width-main} * 2);
    margin-left: 5px;
    margin-right: 5px;

    .chronology {
      @extend %container-dark;
      font-size: 150%;
      overflow-wrap: break-word;
      border: $border-width-main solid $color-light-secondary;
      padding: calc(#{$border-width-main} * 3);

      &:hover {
        color: $color-light-secondary;
      }
    }

    p {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  #box-list {
    width: $events-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(-#{$events-height} / 2);
    margin-bottom: 30px;

    .list {
      @extend %container-dark;
      display: none;
      border: $border-width-main solid $color-light-secondary;
      padding: calc(#{$border-width-main} * 3);
      padding-top: calc(#{$border-width-main} * 10);

      .item {
        .time {
          text-transform: capitalize
        }

        i {
          margin-top: 5px;
          margin-left: 5px;
        }
      }

      .item:nth-child(even):not(:last-child) {
        color: $color-dark-primary;
        background-color: $color-light-tertiary;
      }

      .intro {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 16px;
        margin-bottom: 16px;
      }

      .desc {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 16px;
      }

      .lanparty {
        display: grid;
        grid-template-columns: 55px repeat(3, 1fr);

        p:nth-child(2) {
          font-weight: bold;
        }
      }

      .tournament {
        display: grid;
        grid-template-columns: 55px repeat(2, 1fr) 45px repeat(2, 1fr);

        p:nth-child(2) {
          font-weight: bold;
        }

        i:nth-child(4) {
          text-align: center;
        }
      }

      .versus {
        display: grid;
        grid-template-columns: repeat(2, 65px) 1fr 45px repeat(2, 1fr);

        p:nth-child(1) {
          text-align: right;
        }

        p:nth-child(2) {
          text-align: center;
        }

        p:nth-child(3) {
          font-weight: bold;
          text-align: left;
        }

        i:nth-child(4) {
          text-align: center;
        }
      }

      p {
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }

    .list:nth-child(1) {
      display: block;
    }
  }
}

// --------------------------------------------------

@media(max-width: 1200px) {
  .events {
    .box-action {
      width: calc(50vw + #{$border-width-main} * 2);
    }

    #box-list {
      width: 90%;
    }
  }
}

@media(max-width: 980px) {
  .events {
    #box-list {
      .list {
        .lanparty {
          p:nth-child(2) {
            grid-column: span 3;
          }

          p:nth-child(3) {
            grid-column: span 0;
            display: none;
            width: 0px;
          }

          p:nth-child(4) {
            grid-column: span 0;
            display: none;
            width: 0px;
          }
        }

        .tournament {
          p:nth-child(2) {
            grid-column: span 5;
          }

          p:nth-child(3) {
            grid-column: span 0;
            display: none;
            width: 0px;
          }

          i:nth-child(4) {
            grid-column: span 0;
            display: none;
            width: 0px;
          }

          p:nth-child(5) {
            grid-column: span 0;
            display: none;
            width: 0px;
          }

          p:nth-child(6) {
            grid-column: span 0;
            display: none;
            width: 0px;
          }
        }

        .versus {
          grid-template-columns: 45px 45px 1fr;

          i:nth-child(4) {
            grid-column: span 0;
            display: none;
            width: 0px;
          }

          p:nth-child(5) {
            grid-column: span 0;
            display: none;
            width: 0px;
          }

          p:nth-child(6) {
            grid-column: span 0;
            display: none;
            width: 0px;
          }
        }
      }
    }
  }
}

@media(max-width: 600px) {
  .events {
    .buttons {
      display: block;
    }

    .box-action {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    #box-list {
      margin-top: auto;

      .list {
        padding-top: calc(#{$border-width-main} * 3);
      }
    }
  }
}

// ----------------------------------------------------------------------------------------------------
// Bepis
// ----------------------------------------------------------------------------------------------------
.bepis {
  @extend %container-dark;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../images/bg-bepis.jpg) repeat;
  margin-bottom: 30px;

  h1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  h1:first-child {
    padding-top: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  h1:last-child {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 40px;
  }

  img {
    height: 25px;
    margin-bottom: -4px;
    margin-left: 2px;
  }
}

// --------------------------------------------------

@media(max-width: 385px) {
  .bepis {
    font-size: 65%;

    h1:first-child {
      padding-bottom: 2px;
    }

    img {
      height: 18px;
      margin-bottom: -2px;
    }
  }
}

// ----------------------------------------------------------------------------------------------------
// Footer
// ----------------------------------------------------------------------------------------------------
.footer {
  margin-bottom: 30px;

  p {
    text-align: center;
    margin-top: $border-width-main;
    margin-bottom: 0px;
  }
}
